.vtex-product-kit-1-x-listContainer .vtex-product-summary-2-x-containerNormal {	
  width: 240px;	
}	

.vtex-product-kit-1-x-listContainer .vtex-price-list {	
  font-size: .875rem;	
}	

.vtex-product-kit-1-x-listContainer .vtex-price-selling {	
  font-size: 1.25rem;	
}	

.vtex-product-kit-1-x-listContainer .slick-slider {	
  width: 100%;	
}	

 /* Arrows */	
.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowLeft:before,	
.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowRight:before {	
  font-size: 3vw;	
  color: black;	
}	

.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowLeft {	
  left: -4.2%;	
  z-index: 1;	
  top: 44%;	
}	

[dir='rtl'] .vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowLeft {	
  left: auto;	
}	

.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowRight {	
  top: 44%;	
}	
[dir='rtl'] .vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-arrowRight {	
  right: auto;	
}	

 /* Dots */	
.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-dots {	
  position: relative;	
  top: 5px;	
}	

.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-dots li button {	
  color: black;	
}	

.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-dots li button:before {	
  color: black;	
  font-size: 1vw;	
}	
.vtex-product-kit-1-x-listContainer .vtex-store-components-3-x-dots li.slick-active button:before {	
  color: black;	
} 