.vtex-product-kit__separator {
  width: 40px;
  height: 40px;
}

.vtex-product-kit__details {
  max-width: 17.5em;
}

.vtex-product-kit__details .vtex-price-list__container--loader {
  height: 0;
}

.vtex-product-kit__details .vtex-price-installments--loader {
  height: 0;
}

.vtex-product-kit__details .vtex-price-selling--loader {
  height: 1.5em;
}
