.listDetails {
  width: 240px;
}

.container {}

.item {}

.listContainer {}

.listContainer .vtex-product-summary--normal {
  width: 240px;
}

.listContainer .vtex-price-list {
  font-size: .875rem;
}

.listContainer .vtex-price-selling {
  font-size: 1.25rem;
}

.listContainer .slick-slider {
  width: 100%;
}

/* Arrows */
.listContainer .vtex-store-components-3-x-arrowLeft:before,
.listContainer .vtex-store-components-3-x-arrowRight:before {
  font-size: 3vw;
  color: black;
}

.listContainer .vtex-store-components-3-x-arrowLeft {
  left: -4.2%;
  z-index: 1;
  top: 44%;
}
[dir='rtl'] .listContainer .vtex-store-components-3-x-arrowLeft {
  left: auto;
}

.listContainer .vtex-store-components-3-x-arrowRight {
  top: 44%;
}
[dir='rtl'] .listContainer .vtex-store-components-3-x-arrowRight {
  right: auto;
}

/* Dots */
.listContainer .vtex-store-components-3-x-dots {
  position: relative;
  top: 5px;
}

.listContainer .vtex-store-components-3-x-dots li button {
  color: black;
}

.listContainer .vtex-store-components-3-x-dots li button:before {
  color: black;
  font-size: 1vw;
}
.listContainer .vtex-store-components-3-x-dots li.slick-active button:before {
  color: black;
}